<!DOCTYPE html>
<html>
<head>
	<title>Postal Rate Result</title>
</head>
<body>
	<h1>Postal Rate Result</h1>
	<p>The result for "<%= mailType %>" with weight of <%= weight %> is: <%= result %></p>
</body>
</html>